
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Sansita" rel="stylesheet">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/styles.css">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <h1>Address Book</h1>
            <div class="row show-contact">
                <div class="col-md-6">
                    <h2 class="contact-title">Your new contact:</h2>
                </div>
                <div class="col-md-6 contact-info">
                    <h3 id="contact-name">{{ newcontact.getName }}</h3>
                    <h3>{{ newcontact.getAddress }}</h3>
                    <h3>{{ newcontact.getPhoneNumber }}</h3>
                    <h4><a href="/">Add another contact</a></h4>
                </div>
            </div>
        </div>
    </body>
</html>
