
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/styles.css">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <h1>Your new contact:</h1>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{ newcontact.getName }}</h2>

                    </div>
                    <div class="panel-body">
                        <h3><span>Address:</span>{{ newcontact.getAddress }}</h3>
                        <h3><span>Phone#:</span>{{ newcontact.getPhoneNumber }}</h3>
                        <h3><a href="/">Add another contact</a></h3>

                    </div>

                </div>
            </div>


        </div>
    </body>
</html>
