
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Sansita" rel="stylesheet">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/styles.css">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <h1>Address Book</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2 id="enter-contact">Enter a new contact:</h2>
                    <form class="form-group contact-form" action="/contacts" method="post">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" required>
                        <label for="address">Address:</label>
                        <input type="text" name="address" class="form-control" required>
                        <label for="phone-number">Phone Number:</label>
                        <input type="text" name="phone-number" class="form-control" required><br>
                        <button type="submit" class="btn btn-success">Add Contact</button>
                    </form>
                    <form action="/delete" method="post">
                        <button type="submit" class="btn btn-danger delete-button">Delete Contacts</button>
                    </form>
                </div>
                <div class="col-md-6">
                    {% if contacts is empty %}
                    <img id="icon" src="{{ app.request.getbaseurl }}/assests/img/address-book.png" alt="image of an address book">
                {% endif %}
                {% if contacts is not empty %}

                        <h2>Contacts:</h2>
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone#</th>
                            </tr>
                            {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.getName }}</td>
                                <td>{{ contact.getAddress }}</td>
                                <td>{{ contact.getPhoneNumber }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
