
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ app.request.getbaseurl }}/assests/css/styles.css">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <h1>Address Book</h1>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-group" action="/contacts" method="post">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control">
                        <label for="address">Address:</label>
                        <input type="text" name="address" class="form-control">
                        <label for="phone-number">Phone Number:</label>
                        <input type="text" name="phone-number" class="form-control"><br>
                        <button type="submit" class="btn btn-success">Add Contact</button>
                    </form>
                    <form action="/delete" method="post">
                        <button type="submit" class="btn btn-danger delete-button">Delete Contacts</button>
                    </form>

                </div>
            <div class="col-md-6">
                {% if contacts is not empty %}
                <div class="panel panel-default">
                    <div class="panel-heading">Contacts:</div>
                    <table class="table">
                        {% for contact in contacts %}
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone#</th>
                        </tr>
                        <tr>
                            <td>{{ contact.getName }}</td>
                            <td>{{ contact.getAddress }}</td>
                            <td>{{ contact.getPhoneNumber }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}

            </div>

            </div>

        </div>
    </body>
</html>
